version: '3.8'

services:
  haproxy:
    image: haproxy:2.8-alpine
    container_name: haproxy
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - {{ haproxy_cfg_path }}:/usr/local/etc/haproxy/haproxy.cfg:ro
      - {{ haproxy_certs_dir }}:/usr/local/etc/haproxy/certs:ro
    depends_on:
      keycloak:
        condition: service_healthy
      openfga:
        condition: service_healthy


  postgres:
    image: postgres:14
    container_name: postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U keycloak" ]
      interval: 5s
      timeout: 5s
      retries: 5  
    volumes:
      - postgres_keycloak_data:/var/lib/postgresql/data


  postgres-openfga:
    image: postgres:14
    container_name: postgres-openfga
    command: postgres -c 'max_connections=100'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_openfga_data:/var/lib/postgresql/data

  migrate:
    image: openfga/openfga:v1.5.5
    container_name: migrate
    environment:
      - OPENFGA_DATASTORE_ENGINE=postgres
      - OPENFGA_DATASTORE_URI=postgres://postgres:password@postgres-openfga:5432/postgres?sslmode=disable
    command: migrate
    depends_on:
      postgres-openfga:
        condition: service_healthy

  openfga:
    image: openfga/openfga:v1.5.5
    container_name: openfga
    command: run
    environment:
      - OPENFGA_DATASTORE_ENGINE=postgres
      - OPENFGA_DATASTORE_URI=postgres://postgres:password@postgres-openfga:5432/postgres?sslmode=disable
      - OPENFGA_DATASTORE_MAX_OPEN_CONNS=100
    healthcheck:
      test: ["CMD", "/usr/local/bin/grpc_health_probe", "-addr=localhost:8081"]
      interval: 3s
      timeout: 30s
      retries: 3
    ports:
      - "8081:8081"
      - "3000:3000"
    depends_on:
      migrate:
        condition: service_completed_successfully

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.1
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: "password!!!!"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: "password!!!!"
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_SCHEMA: public
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KC_HOSTNAME_STRICT: 'false'
      KC_HTTP_ENABLED: 'true'
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_PROXY: edge
      KC_HOSTNAME_ADMIN: http://{{ iam-domain }}:9080
      KC_HOSTNAME: keycloak
      KC_HTTP_HOST: 0.0.0.0
      KC_SPI_EVENTS_LISTENER_OPENFGA_EVENTS_PUBLISHER_API_URL: http://openfga:8080
      KC_LOG_LEVEL: INFO,com.twogenidentity.keycloak:debug
    ports:
      - "9080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 5s
      timeout: 5s
      retries: 3
    volumes:
      - {{ keycloak_schema_path }}:/opt/keycloak/data/import/realm.json:ro
    depends_on:
      postgres:
        condition: service_healthy
      openfga:
        condition: service_healthy
volumes:
  postgres_keycloak_data:
  postgres_openfga_data: