[defaults]
inventory = ./inventory
roles_path = ./roles
collections_path = ./collections
library = ./library
filter_plugins = ./filter_plugins

host_key_checking = False

remote_tmp = /tmp/.ansible-${USER}/tmp

template_path = ./templates
files_path = ./files

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
scp_if_ssh = False
transfer_method = smart